body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #CBCACC;
}
.banner-content{
    background-color: #8E8C8E;
    /* text-align: center; */
}
#navbarSupportedContent{
    text-transform: uppercase;
}
.navbar{
    top: 0;
    z-index: 2;
    position: sticky;
    background-color:rgb(8, 1, 70);
}
.about-content{
    background-color: #42BBBD;
}
.education-container{
    background-color: #ACABAC;
}

.redtype-color{
    color: #F21D00;
}

.circle{
    width:150px;
    height:150px;
    background-color: coral;
    border-radius:50%;
}

.myproject-container{
    background-color: #47B2E1;
}



.from-container{
    background-color: #424757;
}
.inner-form{
    background-color:#3A3E4E;
}

.bg-redtype{
    background-color: crimson;
}
.bg-redtype:hover{
    background-color: black!important;
    color:red!important;
}
.footer{
    background-color:  #03acf5;
}

.circle_f{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color:  #3686a8;;
}

.circle_f:hover{
    
    background-color: rgba(162, 162, 163, 0.795);
}